.wrapper {
    background:black;
    color: goldenrod;
    min-height: 100vh;
}
.card-1 i{
  
   
    cursor: pointer;
    display: none;
    transition: all ease 0.5s;
}

.card-1:hover i{
    display: inline-block;
    
    
    zoom: 150%;
    color: red;
}